# Base de datos SQLite
db.sqlite3

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de entorno virtual
venv/
env/
ENV/

# Archivos de configuración local
.env
.env.local

# Archivos de logs
*.log

# Archivos de medios y estáticos recopilados
/media/
/static/